@charset "UTF-8";
/* CSS Document */

html{
  background-color: black;
}
 body{
  height: 100%;
  align-items: center;
  background-color: black;
  border-color: black;
  background-size: cover;
   background-position:center;
  background-repeat:no-repeat;

}
.wrapper{
  max-width: 1024px;
width: 100%;
height:auto;
margin:auto;

}
header{
  width:100%;
  height:auto;
}
h1{
  font-size: 72px;
font-family: 'Bebas Neue', regular;
  font-style: normal;
  color: #ffedd1;
  text-align:center;
  margin:0;
  padding:0;
}
a {
  text-decoration: none;
  color:#ffedd1;
}
a:hover {
  text-decoration: underline;
}
h2{
font-size: 15px;
font-family: 'Poppins', regular;
font-style: normal;
color: #ffedd1;
text-align:center;
margin-top:0 ;
}

nav{
  width: 100%; height:9%;
  text-align: center;
  padding: 0;
  margin:0;

}
nav ul{
  list-style-type:none;
  margin-top:0;
  margin-bottom: 10px;
  margin-left: 5px;
margin-right: 5px;
  padding:0;
}

nav li{
  display:inline-flex;
  font-family:'Poppins', regular;
  font-color:  #ffedd1;
  font-size: 18px;
  text-align: center;
  margin-left: 3%;
  margin-right:3%;

}
nav a:link {
font-family:'Poppins', regular;  color: #ffedd1;
margin:5px;
text-align: center;

}

nav a:visited {
text-decoration: none;

}

nav a:hover {
text-decoration: underline;
}

nav a:active {
  text-decoration: none;
}
#homepic {
  clear: both;
  display: block;
max-width: 500px; height:auto;
text-align: center;
margin-left: auto;margin-right: auto;


}
.pinktext{
  color: #F2B3B3;

}

p{
  font-size: 15px;
  font-family: 'Poppins', regular;
  font-style: normal;
  color: #ffedd1;
  text-align:center;

}
footer{
  width: 100%;
  height:auto;
  text-align: center;
margin-top: 3%;
margin-bottom: 2px;

}

.footerul{
  list-style-type:none;
  margin:auto;


}
footer li{display: inline;
color:  #ffedd1;
font-size: 22px;



}
.socialbuttons{
float:left;
text-align: center;
margin-left: 3%;
margin-bottom: auto;

}
.platform{
  float:right;
  text-align: center;
  margin-right: 3%;
margin-bottom: auto;
}
.copyright{
  clear: both;
  float:bottom;
}
.fa {

  font-size: 32x;
  width: calc(33.333% - 50px); height:auto;
  text-align: center;
  text-decoration: none;
  margin-left: 8px;margin-right:8px;

  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background:black;
  color: #ffedd1;
}
.fa-twitter {
  background:black;
  color: #ffedd1;
}
.fa-facebook {
  background:black;
  color: #ffedd1;
}
.fa-apple {
  background:black;
  color: #ffedd1;
}
.fa-bandcamp {
  background:black;
  color: #ffedd1;
}
.fa-soundcloud {
  background:black;
  color: #ffedd1;
}
.fa-spotify {
  background:black;
  color: #ffedd1;
}
.fa-youtube {
  background:black;
  color: #ffedd1;
}
/* ------About CSS----------*/
#nothomeheader{
  display:block;
  width: 100%;
  height:2%;

}
#aboutbar{
  width: 100%;
  text-align: right;
  margin-top:5px;
  margin-bottom: 5%;

}
#graphic{
  align-content: left;
  float:left;
  margin:0px;
}
#whohead{

  font-size: 20px;
font-family: 'Poppins', regular;
  font-style: normal;
  color: #ffedd1;
  text-align:center;
  margin-top:3%;
  padding:0;

}
.column{
  width:30%;
  float:left;

}
.row:after {
  content: "";
  display: table;
  clear: both;

}
form{
  color: #ffedd1;
  font-family: "Poppins";
}
input[type=text]{
  background-color: #ffedd1;opacity: .9;
  font-family: 'Poppins';
  width: 99%;

  padding: 12px 20px;
  margin:3%;
  box-sizing: border-box;
}
input[type=submit]{
  background-color: #ffedd1;opacity:.95;
  font-family: 'Poppins';
  border-radius: 10%;
  width: 20%;
  padding: 12px 20px;
  margin: 3%;
  box-sizing: border-box;
  resize: vertical;

}
/* Slideshow container */
.phone{

  float:right;
  max-width: 600px;
  height:auto;
  width:60%;
  position: relative;
  margin-top:0;
  margin-left:1%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1024px) {
  .prev, .next, .text, p  {font-size: 8px
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 1024px) {
  .fa, footer li, h2, nav li, .footerul {font-size: 12px
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 706px) {
h1 {font-size: 35px
}
/* On screens that are 706px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 706px) {
  .column, .phone {
    width: 100%;
    float:none;
}
}
