@charset "UTF-8";
/* CSS Document */

body{
  height: 100%;
  align-items: center;
  background-color: black


}
.wrapper{
width: 960px;
height:auto;
margin:0 auto;
}
header{
  width:100%;
  height:200px;
  margin-top:20px;
  margin-bottom:10px;

}
header h1{
   border-radius: 25px;
  font-size: 175px;
font-family: 'Bebas Neue', regular;
  font-weight: 50px;
  font-style: normal;
  color: #ffedd1;
  text-align: center;
;
